<div class="settingsPage-wrapper">
    <div class="settingsPage-header">
        <a href="/" class="navbar-telescope-logo-link">
            <%= image_tag("percent-circle.svg", class: "navbar-logosvg", :alt => "logo") %>
        </a>
        <div class="navbar-float-box">
            <div class="nabvar-profileMenu">
                <div class="navbar-username-box">
                    <a href="/" class="navbar-username">@<%= @current_user.username %></a>
                </div>
            </div>
        </div>
    </div>

    <div class="settingsPage-body" id="settingsFadeIn">
        <div class="settingsPage-body-title">
            <h1 class="settingsPage-h1-title">Settings</h1>
        </div>
        <%= form_for(@user, url: '/settings', method: 'patch') do |f| %>
            <% if @errors %>
                <ul class="settings errors">
                <% @errors.each do |error| %>
                    <li><%= error %></li>
                <% end %>
                </ul>
            <% end %>

            <div class="settings-form-group">
                <%= f.label 'Username', class: 'settings form-label' %>
                <%= f.text_field :username, class: 'settings form-control un', required: true %>
            </div>

            <div class="settings-form-group">
                <%= f.label 'Email', class: 'settings form-label' %>
                <%= f.email_field :email, class: 'settings form-control em', required: true %>
            </div>

            <%= f.hidden_field :id %>

            <%= f.submit 'Save', class: 'settings btn' %>
        <% end %>

    </div>
</div>
<script>
  $(document).ready(() => {
    $('#settingsFadeIn').addClass('fadeInSettingsPage');
  })
</script>