<div class="signin wrapper">
  <div class="signin center" id="signinFadeIn">
    <div class="signin telescope-div">
      <a href="/" class="signin telescope-name">
        <%= image_tag("percent-circle.svg", class: "navbar-telescope-logo", :alt => "logo") %>
        <span class="signin telescope-letters">Percent</span>
      </a>
    </div>
    <div class="signin form-div">
      <h1 class="signin signin-title">Sign In</h1>

      <%= form_tag login_path, method: :post do %>
        <% if @error %>
          <ul class="signin errors">
            <li><%= @error %></li>
          </ul>
        <% end %>
        <div class="signin-form-group">
          <%= label_tag 'Email (or Username)', nil, class: 'signin form-label' %>
          <%= text_field_tag :email_or_username, nil, class: 'signin form-control em', required: true %>
        </div>

        <div class="signin-form-group">
          <%= label_tag :password, nil, class: 'signin form-label' %>
          <%= password_field_tag :password, nil, class: 'signin form-control pw', required: true %>
        </div>

        <%= submit_tag 'Sign In', class: 'signin btn' %>
      <% end %>
    </div>
    <p class="signin not-member-yet">Not on Percent yet? <a href="/signup" class="signin not-member-yet-link">Sign up</a>.</p>
  </div>
</div>
<script>
  $(document).ready(() => {
    $('#signinFadeIn').addClass('fadeInSigninPage');
  })
</script>
