<!DOCTYPE html>
<html>
  <head>
    <title>Datascope</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('telescope-favicon.png'), :rel => 'icon', :type =>  'image/png' %>

    <% if logged_in? %>
      <%= javascript_pack_tag 'telescope/index' %>
      <%= stylesheet_pack_tag 'telescope/assets/stylesheets/normalize-app' %>
      <%= stylesheet_pack_tag 'telescope/assets/stylesheets/app' %>
      <%= stylesheet_pack_tag 'telescope/assets/stylesheets/notifications' %>
      <%= stylesheet_pack_tag 'telescope/assets/stylesheets/react-day-picker' %>
    <% else %>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
      crossorigin="anonymous">
    </script>
      <%= stylesheet_link_tag 'application', media: 'all' %>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
