<!DOCTYPE html>
<html>
  <head>
    <title>Percent</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('percent.ico'), :rel => 'icon', :type =>  'image/png' %>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
      crossorigin="anonymous">
    </script>

    <% if logged_in? %>
      <%= stylesheet_link_tag 'settings' %>
      <%= javascript_pack_tag 'telescope/index' %>
      <%= stylesheet_pack_tag 'telescope/assets/stylesheets/normalize-app' %>
      <%= stylesheet_pack_tag 'telescope/assets/stylesheets/app' %>
      <%= stylesheet_pack_tag 'telescope/assets/stylesheets/react-modal' %>
      <%= stylesheet_pack_tag 'telescope/assets/stylesheets/notifications' %>
      <%= stylesheet_pack_tag 'telescope/assets/stylesheets/react-day-picker' %>
    <% else %>
      <%= stylesheet_link_tag 'application', media: 'all' %>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
